@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

a{
    text-decoration: none;
}

.log-in {
  align-items: flex-start;
  background-color: white;
  display: flex;
  width: 1440px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group1 {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  min-width: auto;
  height: 100vh;
}

.overlap-group2 {
  height: 100vh;
  margin-left: 64px;
  position: relative;
  width: 1080px;
}

.bg {
  align-items: flex-end;
  background-color: #2f81f6;
  display: flex;
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1080px;
}

.overlap-group {
  align-items: flex-start;
  background-image: url('../img/splash-1.svg');
  background-size: 100% 100%;
  display: flex;
  min-width: 384px;
}

.vector {
  height: 397px;
  width: 209px;
  bottom: 0;
  left: 0;
}

.form {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 335px;
  left: 286px;
  position: absolute;
  top: 25%;
  width: 508px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: white;
  font-family: "Open Sans";
  font-size: 55px;
  font-weight: 600;
  height: 71px;
  letter-spacing: 0;
  line-height: 71.5px;
  text-align: center;
  white-space: nowrap;
}

.button {
  background-color:white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  height: 48px;
  margin-left: 54px;
  margin-top: 40px;
  overflow: hidden;
  width: 400px;
}

.caption {
  color: 
#1b1f3ba6;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 173px;
  margin-top: 12px;
  white-space: nowrap;
  width: 54px;
}

.inputs {
  display: flex;
  flex-direction: column;
  height: 136px;
  margin-left: 54px;
  margin-top: 40px;
  width: 400px;
}

.input {
  border-radius: 10px;
  display: flex;
  height: 60px;
  width: 400px;
}

.body {
  display: flex;
  flex-direction: column;
  height: 44px;
  margin-left: 16px;
  margin-top: 8px;
  width: 190px;
}

.text-input {
  display: flex;
  margin-top: 8px;
  width: 190px;
}

.placeholder::placeholder {
  color: #f2f2f299;
}

.placeholder {
  background-color: transparent;
  border: 0;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
  white-space: nowrap;
  width: 190px;
}

input:focus {
  outline: none;
}

.label {
  height: 16px;
  letter-spacing: 0;
  line-height: 16.1px;
  margin-top: -2px;
  white-space: nowrap;
  width: 116px;
}

.input-1 {
  border-radius: 10px;
  display: flex;
  height: 60px;
  margin-top: 16px;
  width: 400px;
}

.body-1 {
  display: flex;
  flex-direction: column;
  height: 44px;
  margin-left: 16px;
  margin-top: 8px;
  width: 192px;
}

.text-input-1 {
  display: flex;
  margin-top: 8px;
  width: 192px;
}

.placeholder-1 {
  background-color: 
transparent;
  border: 0;
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
  white-space: nowrap;
  width: 192px;
}

.placeholder-1::placeholder {
  color: #f2f2f299;
}

.label-1 {
  height: 16px;
  letter-spacing: 0;
  line-height: 16.1px;
  margin-top: -2px;
  white-space: nowrap;
  width: 64px;
}

.language {
  display: flex;
  height: 36px;
  left: 912px;
  position: absolute;
  top: 32px;
  width: 104px;
}

.flag-1 {
  background-color: white;
  border-radius: 8px;
  display: flex;
  height: 36px;
  margin-left: 16px;
  width: 44px;
}

.flags {
  height: 20px;
  margin-left: 8px;
  margin-top: 8px;
  width: 28px;
}

.flag {
  background-color: white;
  border-radius: 8px;
  display: flex;
  height: 36px;
  width: 44px;
}

.logo {
  background-image: url('../img/Logo.svg');
  background-size: 100% 100%;
  display: flex;
  height: 128px;
  margin-bottom: 48px;
  width: 232px;
  margin-left: 10%
}

.logo-1 {
  flex: 1;
  width: 232px;
}